* {
    padding: 0;
    margin: 0;
}

.music {
    width: 500px;
    height: 500px;
    background: url(https://res.cloudinary.com/dvidz8bwi/image/upload/v1674142633/CIT%20Hackathon/background_picture.jpg) no-repeat;
    border-radius: 20px;
    margin: 100px auto;
    text-align: center;
    background-size: cover;
}

.container h1 {
    padding: 60px 0;
}

.button span {
    margin: 0 20px;
    cursor: pointer;
}

